<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/CSS/style.css">
    <title>Registration on Global Heat</title>
</head>
<body>
    <h2 class="oswald">USERNAME</h2>
    <input type="text" placeholder="Type here your username..." required>
    <h2>EMAIL</h2>
    <input type="email" id="email" name="email" class="form__input" placeholder="Type here your email..." required>
    <h2>PASSWORD</h2>
    <input type="password" placeholder="Type here your password..."name="password" id="password" class="form__input" required>
    <h2>PASSWORD</h2>
    <input type="password" placeholder="Type here your password..." required>
    <button>Create account</button>
</body>
</html>